.boxstyle {
    border: #30363d ; 
    border-style:solid; 
    background-color: #161b22; 
    border-radius: 1em;
     padding: 1em;
}
.navbarButton {
    font-weight: 400;
}
a {
    color: #f0f6fc;
    text-decoration: none;
}
a:link, a:visited {
    color: #f0f6fc;
}
a:hover {
    color: rgb(171 181 187);
}
input {
    background-color: rgb(1 4 9);
    color:rgb(226, 234, 243);
    border-top-style: solid;
    border-left-style: solid;
    border-color: #6c757d;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    width: 100%;

}
#searchbarDiv {
    width: 20em;
    transition: width 1s;
}

#searchbarDiv:hover {
    width: 30%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(126, 126, 126);
  -webkit-text-fill-color: rgb(218, 218, 218);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}